<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Equipos</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID Equipo</th>
            <th>Nombre</th>
            <th>Escudo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipo : ${equipos}">
            <td th:text="${equipo.id}"></td>
            <td th:text="${equipo.nombre}"></td>
            <td th:text="${equipo.escudo}"></td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/" class="button">Volver a la página de inicio</a>
    </div>
</div>
</body>
</html>