<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API REST</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="container">
    <h1>MI API REST</h1>
    <h3>Seleccione una opción</h3>
    <div class="button-container">
        <a href="http://localhost:8080/verequipos" class="button">Ver Equipos</a>
        <a href="http://localhost:8080/verjugadores" class="button">Ver Jugadores</a>
        <a href="http://localhost:8080/verpartidos" class="button">Ver Partidos</a>
    </div>
    <div class="button-container">
        <a href="http://localhost:8080/altaequipo" class="button">Alta Equipo</a>
    </div>
</div>
</body>
</html>
